In [16]:
import pandas as pd

In [27]:
df = pd.read_csv('../s9/data/s9.csv')

uniques = set(df['d1'].unique().tolist() + df['d2'].unique().tolist() + df['d3'].unique().tolist() + df['d4'].unique().tolist()\
+ df['a1'].unique().tolist() + df['a2'].unique().tolist() + df['a3'].unique().tolist() + df['a4'].unique().tolist())

uniques

{'azusa',
 'haruka',
 'hoshino',
 'iori',
 'junko',
 'marina',
 'mika',
 'miyako',
 'nyharuna',
 'nymutsuki',
 'reisa',
 'shanako',
 'shun',
 'sumire',
 'tshiroko',
 'tsubaki',
 'tsurugi',
 'yuuka'}

In [31]:
uniques = set(df['as1'].unique().tolist()+df['ds1'].unique().tolist())

uniques

{'hibiki',
 'iroha',
 'minori',
 'nagisa',
 'nyserika',
 'rio',
 'saki',
 'satsuki',
 'sayane',
 'utaha'}

In [4]:
# table of all common strikers and attributes, also ex skill cost

striker_attributes = pd.DataFrame([
    {'char':'tshiroko', 'atk_type':'blue', 'def_type':'blue', 'role':'dealer', 'position':'back', 'affinity':'A', 'deals_dmg':1, 'heals':0,
     'max_hp':69289, 'atk':7389, 'def':108, 'healing':5932, 'accuracy':709, 'evasion':1239, 'crit':733, 'crit_res':100,
     'crit_dmg':2.84, 'crit_dmg_res':0.5, 'n_range':'650', ''}
])

striker_attributes

,char,atk_type,def_type,role,position,n_range,affinity,deals_dmg,heals
0,Tshiroko,blue,blue,dealer,back,650,A,1,0

In [ ]:
# table of all common supporters and attributes

In [3]:
# affinity

affinity_map = pd.DataFrame([
    {'affinity':'SS', "dmg_mult": 1.3, "block_r": 0.75},
    {'affinity':'S', "dmg_mult": 1.2, "block_r": 0.60},
    {'affinity':'A', "dmg_mult": 1.1, "block_r": 0.45},
    {'affinity':'B', "dmg_mult": 1.0, "block_r": 0.30},
    {'affinity':'C', "dmg_mult": 0.9, "block_r": 0.15},
    {'affinity':'D', "dmg_mult": 0.8, "block_r": 0.00},
])

affinity_map

  affinity  dmg_mult  block_r
0       SS       1.3     0.75
1        S       1.2     0.60
2        A       1.1     0.45
3        B       1.0     0.30
4        C       0.9     0.15
5        D       0.8     0.00

In [ ]:
# color effectiveness